<%- include('./partials/header') %>
<br>
    <h1 style="color: red">this is secret !!!</h1>


    <% if(user.provider=='facebook' ){ %>
        <h1>
            hey
            <%- user.displayName %>
        </h1>
        <br>

        <h1>
            <%- user.emails[0].value %>
        </h1>
        <br>

        <img src="<%- user.photos[0].value  %>" alt="">
        <br>

        <%}else{%>

            <h1>
                hey
                <%- user.displayName %>
            </h1>
            <br>
            <br>
            <h1>hello <%- user.email %>
            </h1>

            <img src="<%- user.image %>" alt="">
            <%}%>
                <h1><a href="/logout">logout</a></h1>
                <%- include('./partials/footer') %>